@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using BugTracker.Models
@using System.Web.Configuration;


@model BugTracker.ViewModels.UserProfileViewModel
@{
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    ApplicationUser user = new ApplicationUser();
    if (userId != null)
    {

        user = db.Users.Find(userId);



    }
    var roleHelper = new UserRolesHelper();
    var projectHelper = new ProjectsHelper();
    
}








<div class="container">
    <div class="lockscreen-wrapper animated  flipInX">
        <div class="row ">
            <div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-offset-2">


                @using (Html.BeginForm("EditProfile", "Members", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="profile-wrapper">


                        <img width="69" height="69" data-src-retina="@Model.AvatarURL" data-src="@Model.AvatarURL" src="@Model.AvatarURL" alt="">




                    </div>

                    <div class="user-form">
                        <h2 class="user">Edit <span class="semi-bold">Profile</span></h2>
                        @Html.EditorFor(model => model.FirstName)

                        <button type="submit" class="btn btn-primary "><i class="fa fa-male"></i></button>
                        <p>
                            
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            
                        <p>
                            @Html.EditorFor(model => model.LastName)
                            <button type="submit" class="btn btn-primary "><i class="fa fa-meh-o"></i></button>
                        <p>
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        <p>
                            @Html.EditorFor(model => model.DisplayName)
                            <button type="submit" class="btn btn-primary "><i class="fa fa-check"></i></button>
                        <p>
                            @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                        <p>
                            @Html.EditorFor(model => model.Email)
                            <button type="submit" class="btn btn-primary "><i class="fa fa-envelope-o"></i></button>
                        <p>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        <p>
                            <input name="Avatar" type="file" class="form-control" id="fileUpload" />

                        <p>


                            <button type="submit" class="btn btn-primary "><i class="fa fa-check">Save All</i></button>
                            @if (Model.Id == userId)
                            {
                                <a href="@Url.Action("ChangePassWord","Account", new {email = Model.Email }) " class="btn btn-primary "><i class="fa fa-check">Change Password</i></a>
                            }

                            <div>


                            </div>

</div>
                }


                

            </div>
            
            <div>

                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                    @Html.ActionLink("Back to Dashboard", "Dashboard", "Home")  
                    <br>
                    @Html.ActionLink("Manage User", "Manage", "Members", new { userId = Model.Id }, null);
                }
                else
                {
                    @Html.ActionLink("Back to Dashboard", "Dashboard", "Home")

                }


            </div>
        </div>
    </div>
    <div id="push"></div>
</div>

@section scripts
{

    <script src="~/Scripts/form_validations.js"></script>

}
