@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using BugTracker.Models
@using System.IO



@model IEnumerable<BugTracker.Models.Ticket>

@{


    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    ApplicationUser user = new ApplicationUser();
    if (userId != null)
    {

        user = db.Users.Find(userId);



    }

    var projects = db.Projects.ToList();



    var projectHelper = new ProjectsHelper();



}

<style>
    .notification-messages {
        color: #000000;
    }

        .notification-messages .date {
            opacity: 0.8;
        }
</style>

<div class="modal fade" id="CreateTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-credit-card fa-7x"></i>
                <h4 id="CreateTicket" class="semi-bold">Hello @user.FirstName </h4>
                <p class="no-margin">PLEASE FILL OUT ALL AVAILABLE INFORMATION FOR NEW TICKET </p>
                <br>
            </div>
            @using (Html.BeginForm("Create", "Tickets", FormMethod.Post))
            {
                @Html.AntiForgeryToken()



                <div class="modal-body">



                    <div class="row form-row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Name Of Ticket" id="Title" name="Title">
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("ProjectID", null, "Project", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Please detail client's issue or question" id="Description" name="Description">
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            @Html.DropDownList("TicketTypeId", null, "Type", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownList("TicketPriorityId", null, "Priority", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>





            }


        </div>
    </div>
</div>

<div class="modal fade" id="CreateProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-credit-card fa-7x"></i>
                <h4 id="CreateProject" class="semi-bold">Hello @user.FirstName </h4>
                <p class="no-margin">PLEASE FILL OUT ALL AVAILABLE INFORMATION FOR NEW PROJECT </p>
                <br>
            </div>
            @using (Html.BeginForm("Create", "Projects", FormMethod.Post))
            {
                @Html.AntiForgeryToken()



                <div class="modal-body">



                    <div class="row form-row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Name Of Project" id="Name" name="Name">
                        </div>

                    </div>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Please Fill in Relevant Project Details" id="Description" name="Description">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>





            }


        </div>
    </div>
</div>





@*Dashboard widgets*@

<div class="row container-fluid">
    @if (User.IsInRole("Admin") || User.IsInRole("MasterAdmin"))
    {
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles green m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Tickets </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">In Progress</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketStatus.Name.Contains("Assigned")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Archived</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketStatus.Name.Contains("Archived")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles blue m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Projects</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Projects</span> <span class="item-count animate-number semi-bold" data-value="@projectHelper.GetProjectCount().Count()" data- animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Active Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.Project != null).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Completed Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketStatus.Name.Contains("Resolved")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="54%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles purple m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Ticket Priorities </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Low</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketPriority.Name == "Low").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Medium</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketPriority.Name == "Medium").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">High</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketPriority.Name == "High").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">URGENT!!!!!!!!!</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t => t.TicketPriority.Name == "URGENT").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>


    }
    else if (User.IsInRole("Project Manager"))
    {
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles green m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Tickets </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Tickets</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(p => p.Tickets).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">In Progress</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(p => p.Tickets).Where(t => t.TicketStatus.Name.Contains("Assigned")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Archived</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(p => p.Tickets).Where(t => t.TicketStatus.Name.Contains("Archived")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles blue m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Projects</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Projects</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.Count()" data- animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Active Tickets</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t=>t.TicketStatus.Name != "Archived").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Completed Tickets</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t => t.TicketStatus.Name.Contains("Resolved")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="54%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles purple m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Ticket Priorities </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Low</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t => t.TicketPriority.Name == "Low").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Medium</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t => t.TicketPriority.Name == "Medium").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">High</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t => t.TicketPriority.Name == "High").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">URGENT!!!!!!!!!</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t => t.TicketPriority.Name == "URGENT").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                    <br />
                    <br />
                </div>
            </div>
        </div>

    }
    else if (User.IsInRole("Developer"))
    {
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles green m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Tickets </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">In Progress</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketStatus.Name.Contains("Assigned / In Progress")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Archived</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketStatus.Name.Contains("Archived")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles blue m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Projects</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Projects</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.Count()" data- animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Active Tickets</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.SelectMany(t=>t.Tickets).Where(t=>t.AssignedToUserId == userId).Where(t =>t.TicketStatus.Name != "Archived" && t.TicketStatus.Name != "Resolved").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Completed Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketStatus.Name.Contains("Resolved")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="54%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles purple m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Ticket Priorities </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Low</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketPriority.Name == "Low").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Medium</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketPriority.Name == "Medium").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">High</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketPriority.Name == "High").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">URGENT!!!!!!!!!</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.AssignedToUserId == userId).Where(t => t.TicketPriority.Name == "URGENT").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else if (User.IsInRole("Submitter"))
    {
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles green m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Tickets </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">In Progress</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketStatus.Name.Contains("Assigned")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Archived</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketStatus.Name.Contains("Archived")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="64.8%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles blue m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Projects</div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Overall Projects</span> <span class="item-count animate-number semi-bold" data-value="@user.Projects.Count()" data- animation-duration="700">0</span>
                        </div>
                    </div>

                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">Completed Tickets</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketStatus.Name.Contains("Resolved")).Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="54%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-3 col-vlg-3 col-sm-6">
            <div class="tiles purple m-b-10">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Ticket Priorities </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Low</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketPriority.Name == "Low").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">Medium</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketPriority.Name == "Medium").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">High</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketPriority.Name == "High").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    <div class="widget-stats ">
                        <div class="wrapper last">
                            <span class="item-title">URGENT!!!!!!!!!</span> <span class="item-count animate-number semi-bold" data-value="@Model.Where(t=>t.OwnerUserId == userId).Where(t => t.TicketPriority.Name == "URGENT").Count()" data-animation-duration="700">0</span>
                        </div>
                    </div>
                    @*<div class="progress transparent progress-small no-radius m-t-20" style="width:90%">
                            <div class="progress-bar progress-bar-white animate-progress-bar" data-percentage="90%"></div>
                        </div>
                        <div class="description">
                            <span class="text-white mini-description ">4% higher <span class="blend">than last month</span></span>
                        </div>*@
                </div>
            </div>
        </div>

    }
    else
    {

    }

    @*manage Ticket div*@
    <div class="col-md-3 col-vlg-3 col-sm-6">
        <div class="tiles red m-b-10">
            <div class="tiles-body">
                <div class="controller">
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
                @if (User.IsInRole("Submitter"))

                {
                    <div class="tiles-title text-black">Create Ticket</div>
                }


                @if (User.IsInRole("Admin") || User.IsInRole("MasterAdmin"))
                {
                    <div class="tiles-title text-black">NOTIFICATIONS </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">New System Tickets</span> <span class="item-count animate-number semi-bold" data-value="@NotificationHelper.GetNewTicketsCount()" data-animation-duration="700">0</span>
                        </div>
                        <br />

                    </div>

                }
                else if (User.IsInRole("Project Manager"))
                {
                    <div class="tiles-title text-black">NOTIFICATIONS </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">New Tickets</span> <span class="item-count animate-number semi-bold" data-value="@NotificationHelper.GetPMNotificationsCount()" data-animation-duration="700">@*@NotificationHelper.GetPMNotificationsCount()*@</span>
                        </div>
                        <br />

                    </div>

                }
                else if (User.IsInRole("Developer"))
                {
                    <div class="tiles-title text-black">NOTIFICATIONS </div>
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">New Tickets</span> <span class="item-count animate-number semi-bold" data-value="@NotificationHelper.GetDevNewAssignmentCount()" data-animation-duration="700">0</span>
                        </div>
                    </div>

                }
                else if (User.IsInRole("Submitter"))
                {

                    <div class="widget-stats ">
                        <div class="wrapper transparent">
                            <span class="item-title">Ticket Creation</span>
                            <button class="btn btn-lg" data-toggle="modal" data-target="#CreateTicket"> Create </button>
                        </div>
                    </div>

                }
                else
                {
                    <div class="widget-stats">
                        <div class="wrapper transparent">
                            <span class="item-title">You Have Not Been Assigned A Role</span>
                            <hr>
                            <a href="@Url.Action("EditProfile","Members", new { userId = user.Id })">Edit Profile</a>
                            <hr>
                            <a href="@Url.Action("LogOff","Account", new { id = "logoutForm" })">Log Off</a>
                        </div>
                    </div>

                }




            </div>
        </div>
    </div>

</div>
@*Active Tickets*@
@if (User.IsInRole("Developer"))
{
    <div class="row">

        <div class="pull-right actions">
            <button class="btn btn-primary btn-cons" type="button" id="btn-new-ticket">New Tickets</button>
        </div>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="grid simple no-border" id="new-ticket-wrapper" style="display:none">
                    <div class="grid-title no-border">
                        <h4 class="semi-bold">View New Tickets/ Start Ticket Resolution</h4>
                    </div>
                    <div>
                        <div class="clearfix"></div>
                        <div class="row center-text">
                            <h4>New <span class="semi-bold">Tickets</span></h4>
                            <br>
                        </div>

                        @foreach (var tickets in Model.Where(t => t.AssignedToUserId == userId).Where(t => t.TicketStatus.Name == "Assigned").OrderByDescending(c => c.Created))
                        {

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="grid simple no-border">
                                        <div class="grid-title no-border">
                                            <a href="@Url.Action("Details","Tickets", new { id = tickets.Id })">
                                                <h4 class="semi-bold">@tickets.Title</h4>
                                                <p><span class="text-success bold">Ticket #@tickets.Id</span><span class="text-white "> - Created on @tickets.Created - Created By @tickets.OwnerUser.FullName</span> @*Last reply About 1 Month ago by alex&nbsp;&nbsp;*@<span class="label label-important">@tickets.TicketPriority.Name</span></p>

                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        }







                    </div>
                </div>
            </div>
        </div>



    </div>
}
else if (User.IsInRole("Admin") || User.IsInRole("MasterAdmin"))
{
<div class="row">

    <div class="pull-right actions">
        <button class="btn btn-primary btn-cons" type="button" id="btn-new-ticket">Active Tickets</button>
    </div>


    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid simple no-border" id="new-ticket-wrapper" style="display:none">
                <div class="grid-title no-border">
                    <h4 class="semi-bold">View Ticket To Assign To Developers / Archive Completed Tickets</h4>
                </div>
                <div>
                    <div class="clearfix"></div>
                    <div class="row center-text">
                        <h4>New <span class="semi-bold">Tickets</span></h4>
                        <br>
                    </div>

                    @foreach (var tickets in @Model.Where(t => t.TicketStatus.Name == "New / Unassigned").OrderByDescending(c => c.Created))
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple no-border">
                                    <div class="grid-title no-border">
                                        <a href="@Url.Action("Details","Tickets", new { id = tickets.Id })">
                                            <h4 class="semi-bold">@tickets.Title</h4>
                                            <p><span class="text-success bold">Ticket #@tickets.Id</span><span class="text-white "> - Created on @tickets.Created - Created By @tickets.OwnerUser.FullName</span> @*Last reply About 1 Month ago by alex&nbsp;&nbsp;*@<span class="label label-important">@tickets.TicketPriority.Name</span></p>

                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }

                    <div class="row center-text">
                        <h4>Completed <span class="semi-bold">Tickets</span></h4>
                        <br>
                    </div>
                    @foreach (var tickets in @Model.Where(t => t.TicketStatus.Name == "Resolved").OrderByDescending(c => c.Created))
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="grid simple no-border ">
                                    <div class="grid-title no-border">
                                        <a href="@Url.Action("Details", "Tickets", new { id = tickets.Id })">
                                            <h4 class="semi-bold">@tickets.Title</h4>
                                            <p><span class="text-success bold">Ticket #@tickets.Id</span><span class="text-white "> - Created on @tickets.Created - Completed By @tickets.AssignedToUser.FullName</span> @*Last reply About 1 Month ago by alex&nbsp;&nbsp;*@<span class="label label-important">@tickets.TicketPriority.Name</span></p>

                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    }




                </div>
            </div>
        </div>
    </div>



</div>
}
else if (User.IsInRole("Project Manager"))
{
    <div class="row">

        <div class="pull-right actions">
            <button class="btn btn-primary btn-cons" type="button" id="btn-new-ticket">Active Tickets</button>
        </div>


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="grid simple no-border" id="new-ticket-wrapper" style="display:none">
                    <div class="grid-title no-border">
                        <h4 class="semi-bold">View Ticket To Assign To Developers / Archive Completed Tickets</h4>
                    </div>
                    <div>
                        <div class="clearfix"></div>
                        <div class="row center-text">
                            <h4>New <span class="semi-bold">Tickets</span></h4>
                            <br>
                        </div>

                        @foreach (var tickets in user.Projects.SelectMany(p => p.Tickets).Where(t => t.TicketStatus.Name == "New / Unassigned").OrderByDescending(c => c.Created))
                        {

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="grid simple no-border">
                                        <div class="grid-title no-border">
                                            <a href="@Url.Action("Details","Tickets", new { id = tickets.Id })">
                                                <h4 class="semi-bold">@tickets.Title</h4>
                                                <p><span class="text-success bold">Ticket #@tickets.Id</span><span class="text-white "> - Created on @tickets.Created - Created By @tickets.OwnerUser.FullName</span> @*Last reply About 1 Month ago by alex&nbsp;&nbsp;*@<span class="label label-important">@tickets.TicketPriority.Name</span></p>

                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        }

                        <div class="row center-text">
                            <h4>Completed <span class="semi-bold">Tickets</span></h4>
                            <br>
                        </div>
                        @foreach (var tickets in user.Projects.SelectMany(p => p.Tickets).Where(t => t.TicketStatus.Name == "Resolved").OrderByDescending(c => c.Created))
                        {

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="grid simple no-border ">
                                        <div class="grid-title no-border">
                                            <a href="@Url.Action("Details", "Tickets", new { id = tickets.Id })">
                                                <h4 class="semi-bold">@tickets.Title</h4>
                                                <p><span class="text-success bold">Ticket #@tickets.Id</span><span class="text-white "> - Created on @tickets.Created - Completed By @tickets.AssignedToUser.FullName</span> @*Last reply About 1 Month ago by alex&nbsp;&nbsp;*@<span class="label label-important">@tickets.TicketPriority.Name</span></p>

                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        }




                    </div>
                </div>
            </div>
        </div>



    </div>
}
else if (User.IsInRole("Submitter"))
{

}
else
{

}



@*Recents Notifications/ Comments*@
<div class="row">
    @*recent notifications for developers,project ticket notifications for PM, all for admin*@
    @if (User.IsInRole("Developer"))
    {
        <div class="col-md-6 col-sm-6">
            <div class="tiles gradient-grey">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Recent NOTIFICATIONS </div>
                    <br>
                    @foreach (var notification in NotificationHelper.GetUserUnreadNotifications().OrderByDescending(b => b.Created).Take(3))
                    {
                        if (notification.Recipient != null)
                        {
                            <div class="notification-messages info">
                                <div class="user-profile"> <img src="@notification.Recipient.AvatarURL" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                                <div class="message-wrapper">
                                    <div class="heading"> @notification.Subject </div>
                                    <div class="description"> @notification.NotificationBody </div>
                                </div>
                                <div class="date pull-right"> @notification.Created </div>
                                <div class="clearfix"></div>
                            </div>



                        }
                        else
                        {
                            <div class="notification-messages info">
                                <div class="user-profile"> <img src="/Uploads/Master-Joda-icon.png" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                                <div class="message-wrapper">
                                    <div class="heading"> @notification.Subject </div>
                                    <div class="description"> @notification.NotificationBody </div>
                                </div>
                                <div class="date pull-right"> @notification.Created </div>
                                <div class="clearfix"></div>
                            </div>

                        }


                    }




                </div>


            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Resolved <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Completion</span></h4>
                    <p>RESOLVED DATA </p>
                    <div id="resolvedChartD" style="height:200px;"> </div>
                </div>
            </div>
        </div>

    }
    else if (User.IsInRole("Project Manager"))
    {
        <div class="col-md-6 col-sm-6">
            <div class="tiles gradient-grey">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Recent NOTIFICATIONS </div>
                    <br>
                    @foreach (var notification in NotificationHelper.GetUserUnreadNotifications().OrderByDescending(b => b.Created).Take(3))
                    {
                        if (notification.Recipient != null)
                        {
                            <div class="notification-messages info">
                                <div class="user-profile"> <img src="@notification.Recipient.AvatarURL" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                                <div class="message-wrapper">
                                    <div class="heading"> @notification.Subject </div>
                                    <div class="description"> @notification.NotificationBody </div>
                                </div>
                                <div class="date pull-right"> @notification.Created </div>
                                <div class="clearfix"></div>
                            </div>



                        }
                        else
                        {
                            <div class="notification-messages info">
                                <div class="user-profile"> <img src="/Uploads/Master-Joda-icon.png" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                                <div class="message-wrapper">
                                    <div class="heading"> @notification.Subject </div>
                                    <div class="description"> @notification.NotificationBody </div>
                                </div>
                                <div class="date pull-right"> @notification.Created </div>
                                <div class="clearfix"></div>
                            </div>

                        }


                    }




                </div>


            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Resolved <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Completion</span></h4>
                    <p>RESOLVED DATA </p>
                    <div id="resolvedChartPM" style="height:200px;"> </div>
                </div>
            </div>
        </div>



    }
    else if (User.IsInRole("Submitter"))
    {


    }
    else if (User.IsInRole("Admin") || User.IsInRole("MasterAdmin"))
    {
        <div class="col-md-6 col-sm-6">
            <div class="tiles gradient-grey">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Recent System Ticket NOTIFICATIONS </div>
                    <br>
                    @foreach (var notification in NotificationHelper.GetAllNotifications().OrderByDescending(b => b.Created).Take(5))
                    {
                        if (notification.Recipient != null)
                        {
                            <a href="@Url.Action("Details","Tickets", new { id = notification.TicketId})">
                                <div class="notification-messages info">
                                    <div class="user-profile"> <img src="@notification.Recipient.AvatarURL" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                                    <div class="message-wrapper">
                                        <div class="heading"> @notification.Subject </div>
                                        <div class="description"> @notification.NotificationBody </div>
                                    </div>
                                    <div class="date pull-right"> @notification.Created </div>
                                    <div class="clearfix"></div>
                                </div>
                                </a>




                                }
                                else
                                {
                                <a href="@Url.Action("Details","Tickets", new { id = notification.TicketId})">
                                    <div class="notification-messages info">
                                        <div class="user-profile"> <img src="/Uploads/Master-Joda-icon.png" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                                        <div class="message-wrapper">
                                            <div class="heading"> @notification.Subject </div>
                                            <div class="description"> @notification.NotificationBody </div>
                                        </div>
                                        <div class="date pull-right"> @notification.Created </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                }


                                }




                        </div>


            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="tiles gradient-grey">
                <div class="tiles-body">
                    <div class="controller">
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                    <div class="tiles-title text-black">Recent System Ticket Comments </div>
                    <br>
                    @foreach (var comment in CommentHelper.GetAllTicketComments().OrderByDescending(b => b.Created).Take(5))
                    {
                        <a href="@Url.Action("Details","Tickets", new { id = comment.TicketId})">
                        <div class="notification-messages info">
                            <div class="user-profile"> <img src="@comment.User.AvatarURL" @*alt="" data-src="~/img/profiles/c.jpg" data-src-retina="~/img/profiles/c2x.jpg"*@ width="35" height="35"> </div>
                            <div class="message-wrapper">
                                <div class="heading"> @comment.Comment </div>
                                <div class="description">Ticket #@comment.Ticket.Id </div>
                            </div>
                            <div class="date pull-right"> @comment.Created </div>
                            <div class="clearfix"></div>
                        </div>
                        </a>
                    }




                </div>


            </div>
        </div>

    }
    else
    {

    }




</div>

<div class="row">




</div>

@if (User.IsInRole("Admin") || (User.IsInRole("MasterAdmin")))
{

    @*Charts*@
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Status <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                    <div id="MorrisDonutChart" style="height:200px;"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Priority <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                    <div id="MorrisDonutChart1" style="height:200px;"> </div>
                </div>
            </div>
        </div>






    </div>

    <div class="row">
        <div class="col-md-12 content-center">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Resolved <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Completion</span></h4>
                    <p>RESOLVED DATA </p>
                    <div id="resolvedChart" style="height:200px;"> </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Type<span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                    <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                    <br>
                    <div id="MorrisBarChart" style="height:250px"></div>
                </div>
            </div>






        </div>


    </div>


}
else if (User.IsInRole("Project Manager"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Status <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                    <div id="StatusChartPM" style="height:200px;"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Priority <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                    <div id="PriorityChartPM" style="height:200px;"> </div>
                </div>
            </div>
        </div>






    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Type<span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                    <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                    <br>
                    <div id="TypeChartPM" style="height:250px"></div>
                </div>
            </div>






        </div>


    </div>
}
else if (User.IsInRole("Developer"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Status <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                    <div id="StatusChartD" style="height:200px;"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Priority <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                    <div id="PriorityChartD" style="height:200px;"> </div>
                </div>
            </div>
        </div>






    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Type<span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                    <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                    <br>
                    <div id="TypeChartD" style="height:250px"></div>
                </div>
            </div>






        </div>


    </div>

}
else if (User.IsInRole("Submitter"))
{

    <div class="row">
        <div class="col-md-6">
            <div class="grid simple ">
                <div class="grid-title no-border  ">
                    <h4>Status <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border ">
                    <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                    <div id="StatusChartS" style="height:200px;"> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Priority <span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                    <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                    <div id="PriorityChartS" style="height:200px;"> </div>
                </div>
            </div>
        </div>






    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Type<span class="semi-bold">Chart</span></h4>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"></a>
                        <a href="#grid-config" data-toggle="modal" class="config"></a>
                        <a href="javascript:;" class="reload"></a>
                        <a href="javascript:;" class="remove"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                    <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                    <br>
                    <div id="TypeChartS" style="height:250px"></div>
                </div>
            </div>






        </div>


    </div>


}




@*@if (User.IsInRole("Admin") || User.IsInRole("MasterAdmin"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="grid simple ">
                    <div class="grid-title no-border  ">
                        <h4>Status <span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border ">
                        <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                        <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                        <div id="MorrisDonutChart" style="height:200px;"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Priority <span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                        <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                        <div id="MorrisDonutChart1" style="height:200px;"> </div>
                    </div>
                </div>
            </div>






        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Type<span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                        <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                        <br>
                        <div id="MorrisBarChart" style="height:250px"></div>
                    </div>
                </div>






            </div>


        </div>

    }


    @if (User.IsInRole("Developer"))
    {

        <div class="row">
            <div class="col-md-6">
                <div class="grid simple ">
                    <div class="grid-title no-border  ">
                        <h4>Status <span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border ">
                        <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                        <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                        <div id="MorrisDonutChart" style="height:200px;"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Priority <span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                        <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                        <div id="MorrisDonutChart1" style="height:200px;"> </div>
                    </div>
                </div>
            </div>






        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Type<span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                        <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                        <br>
                        <div id="MorrisBarChart" style="height:250px"></div>
                    </div>
                </div>






            </div>


        </div>



    }

    @if (User.IsInRole("Submitter"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="grid simple ">
                    <div class="grid-title no-border  ">
                        <h4>Status <span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border ">
                        <h4>Ticket <span class="semi-bold">Statuses</span></h4>
                        <p>NUMBER OF TICKETS AND THEIR RESPECTIVE STATUS  </p>
                        <div id="MorrisDonutChart" style="height:200px;"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Priority <span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <h4>Ticket <span class="semi-bold">Priorities</span></h4>
                        <p>NUMBER OF TICKETS AND THEIR RESPECTIVE PRIORITY LEVEL </p>
                        <div id="MorrisDonutChart1" style="height:200px;"> </div>
                    </div>
                </div>
            </div>






        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="grid simple">
                    <div class="grid-title no-border">
                        <h4>Type<span class="semi-bold">Chart</span></h4>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                            <a href="#grid-config" data-toggle="modal" class="config"></a>
                            <a href="javascript:;" class="reload"></a>
                            <a href="javascript:;" class="remove"></a>
                        </div>
                    </div>
                    <div class="grid-body no-border">
                        <h4>Ticket  <span class="semi-bold"> Types</span></h4>
                        <p>NUMBER OF TICKETS AND THIER RESPECTIVE TYPE</p>
                        <br>
                        <div id="MorrisBarChart" style="height:250px"></div>
                    </div>
                </div>






            </div>


        </div>

    }*@










@section scripts{


    <script src="~/Scripts/support_ticket.js"></script>




    <script type="text/javascript">
        //Admin

        $(function () {
            var url = '@Url.Action("GetMorrisDataResolvedTickets", "Charts")';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'resolvedChart',
                    data: response,
                    gridTextSize: 14,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true,


                });

            });

        });



        $(function () {
            var url = '@Url.Action("GetMorrisData", "Charts")';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'MorrisDonutChart',
                    data: response,
                    gridTextSize: 8,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketTypes", "Charts")';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'MorrisBarChart',
                    data: response,
                    gridTextSize: 14,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true

                });

            });

                });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketPriorities", "Charts")';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'MorrisDonutChart1',
                    data: response,
                    gridTextSize: 8,
                    xLabelAngle: 65,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });

        //Project Manager
        $(function () {
            var url = '@Url.Action("GetMorrisDataResolvedTicketsPM", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'resolvedChartPM',
                    data: response,
                    gridTextSize: 14,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true,


                });

            });

        });
        $(function () {
            var url = '@Url.Action("GetMorrisDataTicketStatusPM", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'StatusChartPM',
                    data: response,
                    gridTextSize: 8,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketTypesPM", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'TypeChartPM',
                    data: response,
                    gridTextSize: 8,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true

                });

            });

                });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketPrioritiesPM", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'PriorityChartPM',
                    data: response,
                    gridTextSize: 8,
                    xLabelAngle: 65,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });


        //Developer

        $(function () {
            var url = '@Url.Action("GetMorrisDataResolvedTicketsD", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'resolvedChartD',
                    data: response,
                    gridTextSize: 14,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true,


                });

            });

        });
        $(function () {
            var url = '@Url.Action("GetMorrisDataTicketStatusD", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'StatusChartD',
                    data: response,
                    gridTextSize: 8,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketTypesD", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'TypeChartD',
                    data: response,
                    gridTextSize: 8,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true

                });

            });

                });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketPrioritiesD", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'PriorityChartD',
                    data: response,
                    gridTextSize: 8,
                    xLabelAngle: 65,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

                });


        //submitter
         $(function () {
            var url = '@Url.Action("GetMorrisDataTicketStatusS", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'StatusChartS',
                    data: response,
                    gridTextSize: 8,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketTypesS", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Bar({
                    element: 'TypeChartS',
                    data: response,
                    gridTextSize: 8,
                    xkey: 'label',
                    ykeys: ['value'],
                    labels: ['Ticket Count'],
                    resize: true

                });

            });

                });


                $(function () {
            var url = '@Url.Action("GetMorrisDataTicketPrioritiesS", "Charts", new {userId = userId})';
            $.post(url).then(function (response) {
                new Morris.Donut({
                    element: 'PriorityChartS',
                    data: response,
                    gridTextSize: 8,
                    xLabelAngle: 65,
                    //xkey: 'label',
                    //ykeys: ['value'],
                    //labels: ['Ticket Count'],
                    resize: true

                });

            });

        });



    </script>
}



