@using BugTracker.ViewModels
@using BugTracker.Helpers

@model IEnumerable<UserIndexViewModel>
@{ 

    var roleHelper = new UserRolesHelper();
    var projectHelper = new ProjectsHelper();
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserIndex</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Avatar")
            </th>


            <th>
                @Html.DisplayName("User")
            </th>

            <th>
                @Html.DisplayName("Role/Manage")
            </th>
            <th>
                @Html.DisplayName("Projects/Manage")
            </th>
            <th>
                @Html.DisplayName("Manage User")
            </th>

            <th></th>
        </tr>

        @foreach (var user in Model)
        {
            using (Html.BeginForm("UserIndex", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                
                @Html.Hidden("userId", user.Id)
                <tr>
                    <td class="avatar">
                        <img src="@user.AvatarURL" class="img-responsive" width="30">
                    </td>
                    

                    <td>
                        @Html.DisplayFor(modelItem => user.FullNameWithEmail)
                    </td>
                    
                    <td>
                        @Html.DropDownList("CurrentRole", user.CurrentRole, "NONE")
                    </td>
                    <td>
                        @Html.ListBox("CurrentProjects", user.CurrentProjects)
                    </td>


                    <td>
                        @Html.ActionLink("Edit", "EditProfile", "Members", new { userId = user.Id }, null) |
                        <input type="submit" value="Assign" class="btn btn-default" />|

                    </td>
                </tr>
            }
        }

    </table>
</body>
</html>
