

@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using BugTracker.Models


@model BugTracker.Models.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_Notauthenticated.cshtml";
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    ApplicationUser user = new ApplicationUser();
    if (userId != null)
    {

        user = db.Users.Find(userId);



    }
}


@using (Html.BeginForm("ChangePassWordNoRole", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Email)
    @Html.Hidden("userId", userId)

    <div class="user-form">
        <h2 class="user">Change <span class="semi-bold">Password</span></h2>
        @Html.EditorFor(model => model.Password)

        <button class="btn btn-primary "><i class="fa fa-male"></i></button>
        <p>
            <br>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <br />
        <p>
            @Html.EditorFor(model => model.ConfirmPassword)
            <button class="btn btn-primary "><i class="fa fa-meh-o"></i></button>
        <p>
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        <p>






            <button type="submit" class="btn btn-primary "><i class="fa fa-check">Save</i></button>
            <div>


            </div>

    </div>
}




@section scripts
{

    <script src="~/Scripts/form_validations.js"></script>

}