@using BugTracker.Helpers
@using Microsoft.AspNet.Identity
@using BugTracker.Models


@model BugTracker.Models.ResetPasswordViewModel

@{
    var db = new ApplicationDbContext();
    var userId = User.Identity.GetUserId();
    ApplicationUser user = new ApplicationUser();
    if (userId != null)
    {

        user = db.Users.Find(userId);



    }
}

<div class="container">
    <div class="lockscreen-wrapper animated  flipInX">
        <div class="row ">
            <div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-offset-2">


                @using (Html.BeginForm("ChangePassWord", "Account"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Email)
                    @Html.Hidden("userId", userId)

                    <div class="user-form">
                        <h2 class="user">Change <span class="semi-bold">Password</span></h2>
                        @Html.EditorFor(model => model.Password)

                        <button class="btn btn-primary "><i class="fa fa-male"></i></button>
                        <p>
                            <br>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <br />
                        <p>
                            @Html.EditorFor(model => model.ConfirmPassword)
                            <button class="btn btn-primary "><i class="fa fa-meh-o"></i></button>
                        <p>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <p>






                            <button type="submit" class="btn btn-primary "><i class="fa fa-check">Save</i></button>
                            <div>


                            </div>

                    </div>
                }
            </div>
            <div>
                @Html.ActionLink("Back to Dashboard", "Dashboard", "Home")
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>




@section scripts
{

    <script src="~/Scripts/form_validations.js"></script>

}