
@{
    Layout = "~/Views/Shared/_CustomLogin.cshtml";
}

<style>
    .btn-primary {
        background-color: unset;
        background-color: #1f4f9e;
        color: #FFFFFF;
    }
</style>


<div class="full-page login-page section-image" filter-color="blue" data-image="/img/bg14.jpg">


    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <h2 class="title">Choose Demo Role</h2>

                    <img src="~/img/cooleylogo.png" />

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card card-pricing card-plain">
                        <h6 class="card-category"> ADMIN</h6>
                        <div class="card-body">
                            <div class="card-icon icon-warning ">
                                <i class="now-ui-icons media-1_button-power"></i>
                            </div>
                            <h3 class="card-title">
                                <img src="~/Uploads/Master-Joda-icon.png" />
                            </h3>
                            <ul>
                                <li>View/Edit all Users</li>
                                <li>Create Projects</li>
                                <li>Assign/Unassign users to Roles</li>
                                <li>Assign/Unassign users to Projects</li>
                                <li>Assign/Unassign tickets to Developers</li>
                                <li>Archive Tickets</li>

                            </ul>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("key", "DemoAdmin")
                            <div class="card-footer">
                                <button class="btn btn-round  btn-warning" type="submit">Demo Role</button>
                            </div>

                        }

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-pricing card-plain">
                        <h6 class="card-category"> PROJECT MANAGER</h6>
                        <div class="card-body">
                            <div class="card-icon icon-primary ">
                                <i class="now-ui-icons objects_diamond"></i>
                            </div>
                            <h3 class="card-title">
                                <img src="~/Uploads/Profile-512.png" />
                            </h3>
                            <ul>
                                <li>View all Users</li>
                                <li>Create projects</li>
                                <li>Assign/Unassign Users to Projects</li>
                                <li>Assign/Unassign Tickets to Developers</li>
                                <li>Archive Tickets</li>
                            </ul>
                        </div>

                        @using (Html.BeginForm("DemoUser","Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("key", "DemoProjectManager")
                            <div class="card-footer">
                                <button class="btn btn-round  btn-primary" type="submit">Demo Role</button>
                            </div>

                        }
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-pricing card-plain">
                        <h6 class="card-category"> DEVELOPER</h6>
                        <div class="card-body">
                            <div class="card-icon icon-success ">
                                <i class="now-ui-icons media-2_sound-wave"></i>
                            </div>
                            <h3 class="card-title">
                                <img src="~/Uploads/profile-picture-icon-11.jpg" />
                            </h3>
                            <ul>
                                <li>View Tickets on Projects that are Assigned</li>
                                <li>View Ticket details that are Assigned</li>
                                <li>Edit Ticket</li>
                            </ul>
                        </div>
                        @using (Html.BeginForm("DemoUser","Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("key", "DemoDeveloper")
                            <div class="card-footer">
                                <button class="btn btn-round  btn-success" type="submit">Demo Role</button>
                            </div>

                        }
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card card-pricing card-plain">
                        <h6 class="card-category"> SUBMITTER</h6>
                        <div class="card-body">
                            <div class="card-icon icon-danger ">
                                <i class="now-ui-icons education_atom"></i>
                            </div>
                            <h3 class="card-title">
                                <img src="~/Uploads/sub.png" />
                            </h3>
                            <ul>
                                <li>Create Tickets</li>
                                <li>View Created Tickets</li>
                            </ul>
                        </div>
                        @using (Html.BeginForm("DemoUser","Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" } ))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("key", "DemoSubmitter")
                            <div class="card-footer">
                                <button class="btn btn-round  btn-danger" type="submit">Demo Role</button>
                            </div>

                        }

                        
                    </div>
                </div>
            </div>
        </div>
        </div>
            <footer class="footer">
                <div class=" container-fluid ">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://cooleyportfolio.azurewebsites.net">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="http://blogprojectcooley.azurewebsites.net/home/contact">
                                    Contact Me
                                </a>
                            </li>
                            <li>
                                <a href="http://blogprojectcooley.azurewebsites.net">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </footer>
        </div>




        @section scripts

{

            <script>
                $(document).ready(function () {
                    demo.checkFullPageBackgroundImage();
                });
            </script>


        }

